@import url('https://fonts.googleapis.com/css?family=Numans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%
}

html,body {
  background-image: url(https://getwallpapers.com/wallpaper/full/f/c/c/15378.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  height: 37rem;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 40rem;
  background-color: rgba(0,0,0,0.5);

}

.social-media-icon span{
  font-size: 6rem;
  margin-left: 1rem;
  color: #FFC312;
}

.social-media-icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social-media-icon {
  position: absolute;
  right: 2rem;
  top: -4.5rem;
  display: flex;
  align-content: flex-end;
}

.input-group-prepend span {
  width: 5rem;
  background-color: #FFC212;
  color: black;
  border: 0;
}

input:focus {
  outline: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.remember {
  color: white;
  display: flex;
  align-items: center;
}

.remember input {
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 10rem;
  float: right;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.card-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links {
  color: white;
}

.links a {
  margin-left: 0.4rem;
}
